---
---
@import "{{ site.theme }}";


.page {
  font-size: 0.8em
}

.page__hero-image {
  object-fit: cover;
  height: 15em;
}

@media (min-width: 80em) {
  .page:only-child {
      width: calc(100% - 200px);
      padding-right: 200px;
  }
}

@media (min-width: 64em) {
  .page:only-child {
      width: calc(100% - 100px);
      padding-right: 100px;
  }
}

.page__content h3 {
  font-size: 1em;
}

.btn--twitter {
  border: 1px #2f7d95 solid;
  //background-color: rgb(32, 139, 254);
  //color: #fff;
}