{% if page.at_url %}
<h4 class="page__comments-title">{{ comments_label }}</h4>
<form :action="'https://bsky.app/intent/compose?text=' + encodeURIComponent(text)" x-data="{text: ''}" target="_blank">
    <textarea minlength="1" maxlength="299" required spellcheck="true" placeholder="Post a comment to Bluesky" x-model="text"></textarea>
    <input class="btn btn--bluesky page__comment_submit" type="submit" value="Post">
</form>
<section id="bluesky-comments" x-data="{thread: {}}" x-init="thread = (await (await fetch('https://public.api.bsky.app/xrpc/app.bsky.feed.getPostThread?uri={{page.at_url}}')).json()).thread">
    <template x-for="reply in thread.replies" x-if="reply.post.record.text">
    <article id="comment{{ include.index }}" class="js-comment comment" itemprop="comment" itemscope itemtype="https://schema.org/Comment">
        <div class="comment__avatar-wrapper">
            <img class="comment__avatar" loading="lazy" :src="reply.post.author.avatar" :alt="reply.post.author.displayName">
        </div>
        <div class="comment__content-wrapper">
            <h3 class="comment__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
                <span itemprop="name"><a rel="external nofollow" itemprop="url" :href="'https://' + reply.post.author.handle" x-text="reply.post.author.displayName || reply.post.author.handle"></a></span>
            </h3>
            <p class="comment__date">
                <a :href="reply.post.uri" itemprop="url">
                <time :datetime="reply.post.record.createdAt" itemprop="datePublished" x-text="reply.post.record.createdAt"></time>
                </a>
            </p>
            <div itemprop="text" x-text="reply.post.record.text.replace(/\\n/g, '\n').replace(/\\\\/g, '\\')"></div>
        </div>
    </article>
    </template>
    <a href="https://bsky.app/profile/{{page.at_url | remove_first: 'at://' | remove_first: 'app.bsky.feed.'}}">View the full discussion on Bluesky</a>
</section>
{% endif %}